

.movie-details {
    min-height: 70vh;
}



.movie-image {
    height: 30rem;
    opacity: 0.4;
}

.title {
    font-size: 2rem;
}

.other-movies:hover {
    transform: translateY(5px);
     box-shadow: 0px 10px 15px rgb(146, 22, 22);
}

@media (max-width: 620px) {
    .movie-image {
        height: 20rem;
    }
}

@media (max-width: 620px) {
    .overlay {
        font-size: 8px;
    }
}

@media (max-width: 620px) {
    .title {
        font-size: 12px;
    }
}